<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>

<td><a th:href="@{/logout}">Logout</a></td>

<form method="post" th:action="@{/admin/save}" th:object="${book}">

    <table>

        <tbody>

        <tr>
            <td>
                <input type="hidden" th:field="*{id}">
            </td>
        </tr>

        <tr>
            <td th:text = "Title" />
            <td>
                <input type="text" th:field="*{title}">
            </td>
            <td th:if="${ #fields.hasErrors('title') }" th:errors="*{title}"></td>
        </tr>

        <tr>
            <td th:text = "Author" />
            <td>
                <input type="text" th:field="*{author}">
            </td>
            <td th:if="${ #fields.hasErrors('author') }" th:errors="*{author}"></td>
        </tr>

        <tr>
            <td th:text = "ISBN" />
            <td>
                <input type="text" th:field="*{isbn}">
            </td>
        </tr>

        <tr>
            <td th:text = "Description" />
            <td>
                <input type="text" th:field="*{description}">
            </td>
        </tr>

        <tr>
            <td th:text = "Date" />
            <td>
                <!-- additional curly bracket around date will convert date into string-->
                <input type="date" th:field="*{{releaseDate}}">
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit" class="btn btn-success">Zapisz</button>
            </td>
        </tr>

        </tbody>

    </table>

</form>

<a th:href="@{/book/list}">Return to book list</a></td>


</body>
</html>