<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin start page</title>
</head>
<body>

<div><a th:href="@{/logout}">Logout</a></div>
<div><a th:href="@{/book/list}">Return to book list</a></div>

</body>
</html>