<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Book list</title>
</head>
<body>

<div>Actual logged user</div>
<div th:text="${currentUser}"/>

<div>Actual logged user (from thymeleaf)</div>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="name"/>
</div>

<td><a th:href="@{/logout}">Logout</a></td>

<a th:href="@{/book/search}">Search</a>

<a th:href="@{/book/sort-by-title}">Sort by title</a>

<a th:href="@{/book/sort-by-release-date}">Sort by release date</a>


<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/add}">Add new book</a>
</div>

<table class="table">

    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Surname</th>
    </tr>

    </thead>

    <tbody>

    <tr th:each="book: ${books}">

        <td th:text="${book.title}"/>
        <td th:text="${book.author}"/>

        <td><a th:href="@{detail/{bookId}/(bookId=${book.id})}">details</a></td>

        <td><a th:href="@{delete/{bookId}/(bookId=${book.id})}">delete</a></td>

        <td><a th:href="@{edit/{bookId}/(bookId=${book.id})}">edit</a></td>


    </tr>
    </tbody>

</table>

</body>
</html>