<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book search</title>
</head>
<body>
<td><a th:href="@{/logout}">Logout</a></td>
<form method="post" th:action="@{/book/search-by-author}" th:object="${bookSearch}">
    <h3>Author</h3>
    <p><input type="text" th:field="*{author}">
    <button type="submit">Szukaj</button></p>
</form>

<form method="post" th:action="@{/book/search-by-title}" th:object="${bookSearch}">
    <h3>Title</h3>
    <p><input type="text" th:field="*{title}">
        <button type="submit">Szukaj</button></p>
</form>

</body>
</html>