<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book search result</title>
</head>
<body>
<td><a th:href="@{/logout}">Logout</a></td>
<table class="table">

    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Surname</th>
    </tr>

    </thead>

    <tbody>

    <tr th:each="book: ${books}">

        <td th:text="${book.title}"/>
        <td th:text="${book.author}"/>

    </tr>
    </tbody>

</table>

<a th:href="@{/book/list}">Return to book list</a></td>

</body>
</html>