<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<td><a th:href="@{/logout}">Logout</a></td>
<form method="post" th:action="@{/book/update}" th:object="${book}">

    <table>

        <tbody>

        <tr>
            <td>
                <input type="hidden" th:field="*{id}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" th:field="*{title}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" th:field="*{author}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" th:field="*{isbn}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" th:field="*{description}">
            </td>
        </tr>

        <tr>
            <td>
                <!-- additional curly bracket around date will convert date into string-->
                <input type="date" th:field="*{{releaseDate}}">
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">Edytuj</button>
            </td>
        </tr>

        </tbody>

    </table>

</form>

<a th:href="@{/book/list}">Return to book list</a></td>


</body>
</html>