<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>

    <thead>
    <tr>
        <th>Product name</th>
        <th>Amount</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="order : ${orders}">

        <td th:text="${order.productName}"/>
        <td th:text="${order.amount}"/>

        <td>
            <a th:href="@{/order/details/{orderId}(orderId=${order.id})}">details</a>
        </td>

        <td>
            <a th:href="@{/order/edit/{orderId}/(orderId=${order.id})}">edit</a>
        </td>

    </tr>

    </tbody>

</table>

</body>
</html>